<div class="page-header">
  <h2 id="title">Bem vindo!</h2>
  <h3>Esta é uma demonstração do lenita-security-addon</h3>
</div>
{{outlet}}
{{#if session.isAuthenticated}}
Clique <a href="#" {{action 'invalidateSession'}}>aqui</a> para fazer logout.
{{/if}}

