<div class="page-header">
  <h3>Login</h3>
</div>
  <p>Efetue o login para acessar a área protegida.</p>
<form id="form-login" {{action 'autenticar' session.attemptedTransition on='submit'}}>
  <div class="form-group">
    <label for="login">Login</label>
    <input value="Usuario" id="login" placeholder='Entre com o login' class='form-control' required=true>
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input value="senha" id="senha"  placeholder='Entre com a senha' class='form-control' type='password' required=true>
  </div>
  <div class="form-group">
    <label for="erro">{{menssagemDeErro}}</label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Entrar</button>
  </div>
</form>
